
ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.header{

background-color: lightgray;
padding: 8px;
margin: 8px;
}

.recipes{

    background-color: lightgrey;
    padding: 8px;
    margin: 8px;
    text-align: left;

}

body{
}



